
body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4; 
}
header {
    background: #35424b; 
    color: #ffffff; 
    padding: 20px 0; 
    text-align: center; 
}
h1 {
    margin: 0;
}
h2 {
    color: #35424a; 
}
section {
    padding: 20px; 
    margin: 20px;
    background: #ffffff; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.profile-image {
    width: 50px; 
    height: auto; 
    border-radius: 50%;
}
.project {
    margin-bottom: 20px; /* Adds space below each project */
}
.project img {
    width: 50%; /* Makes project images responsive */
    height: auto; /* Maintains the aspect ratio of project images */
    border-radius: 5px; /* Rounds the corners of project images */
}
footer {
    text-align: center; /* Centers the text in the footer */
    padding: 10px 0; /* Adds padding above and below the footer */
    background: #35424a; /* Dark gray background for the footer */
    color: #ffffff; /* White text color */
    position: relative; /* Positions the footer relative to the page */
    bottom: 0; /* Aligns the footer to the bottom */
    width: 100%; /* Makes the footer full width */
}
